.death-notification {
    height: 63px;
    overflow: hidden;
    transition-property: height, opacity;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in, ease-in;
}

.death-notification--hidden {
    height: 0;
}

.death-notification--hidden-end {
    opacity: 0;
}

.death-notification__container {
    height: 46px;
    flex-direction: row;
}

.death-notification__name {
    color: rgb(255, 255, 255);
    font-size: 26px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    -unity-text-overflow-position: end;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 0 rgb(23, 18, 53);
    -unity-text-outline-color: rgb(23, 18, 53);
    -unity-text-outline-width: 2px;
}

.death-notification__name--killer {
    -unity-text-align: middle-left;
    padding-left: 9px;
}

.death-notification--suicide .death-notification__name--killer {
    visibility: hidden;
    display: none;
}

.death-notification__name--victim {
    -unity-text-align: middle-right;
    padding-right: 9px;
}

.death-notification__pfp {
    width: 60px;
    min-width: 60px;
    height: 46px;
    background-color: rgba(19, 4, 71, 0.3);
    background-size: 150%;
    background-position: center;
}

.death-notification__pfp--killer {
    background-image: url('/Assets/Resources/KillFeed/icon-deathnotification-killer.png');
}

.death-notification--suicide .death-notification__pfp--killer {
    visibility: hidden;
    display: none;
}

.death-notification__pfp--victim {
    background-image: url('/Assets/Resources/KillFeed/icon-deathnotification-victim.png');
}

.death-notification__kill-icon {
    background-image: url('/Assets/Resources/KillFeed/icon-killfeed-normal.png');
    width: 60px;
    min-width: 60px;
    height: 30px;
    position: relative;
    align-self: center;
    margin-right: 20px;
    margin-left: 20px;
    -unity-background-scale-mode: scale-to-fit;
}

.death-notification--suicide .death-notification__kill-icon {
    background-image: url('/Assets/Resources/KillFeed/icon-killfeed-suicide.png');
    margin-left: 0;
}
